header h1 {
    font-size: 28px;
    font-family: 'Inknut Antiqua', serif;
    margin: 0 20px
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title h1 {
    font-size: 32px;
    font-family: 'Inknut Antiqua', serif;
    margin: 0 20px;
}

.gif-container img {
    width: 134px;
    height: 134px;

}

.reverse {
    transform: scaleX(-1);
}

.news-section {
    background-color: #2D004D;
    border-radius: 10px;
}

.news-section h2 {
    font-family: 'Inknut Antiqua', serif;
    font-size: 28px;
    margin-bottom: 20px;
}

.news-item {
    background-color: #1A1F46;
    padding: 5px;
    border-radius: 5px;
}

.text-container {
    margin-left: 10px;
}

.news-item h3 {
    margin-top: 0;
    font-size: 24px;
}

.news-item p {
    font-size: 16px;
}

.news-item img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
}

.btn-read-more {
    padding: 10px 10px;
    background-color: #FABEFF;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Inknut Antiqua', serif;
    &:hover {
        background-color: #ef6efa !important;
    }
}

.about-us {
    background-color: #2D004D;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.about-us h2 {
    font-family: 'Inknut Antiqua', serif;
    font-size: 28px;
}

.about-us p {
    font-size: 18px;
    text-wrap: wrap
}

.social-icons a img {
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.meme img {
    width: 330px;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .gif-container img {
        width: 100px;
        height: 100px;
    }
    .header-title h1 {
        font-size: 24px;
    }

    .news-section h2 {
        font-size: 20px;
    }

    .news-item {
        padding: 10px;
        margin-bottom: 20px;

        img {
           height: auto;
       }

       h3 {
           font-size: 18px;
       }
       
       p {
          font-size: 14px;
      }
    }

    .about-us p {
        font-size: 14px;
    }

    .about-us {
        background-color: #2D004D;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
}